@font-face {
  font-family: "Panchang-Bold";
  src: url("/fonts/Panchang-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-Regular";
  src: url("/fonts/GeneralSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: GeneralSans-Regular;
}

a {
  text-decoration: none;
  color: #8142f5;
}
