.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 50%;
  height: 100%;
  background-image: url("/log.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.right {
  padding: 1rem;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.right .title {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.right .title img {
  align-self: center;
}

.right .title p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #00000096;
}

.right form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.right form input[type="email"],
.right form input[type="password"] {
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1.8px solid rgba(0, 0, 0, 0.363);
}

.right form label {
  font-size: 0.9rem;
  font-weight: 600;
}

.right form .forg {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.right form button {
  width: 100%;
  padding: 0.7rem 2rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 1.5px solid #8142f5;
  border-radius: 0.5rem;
  color: #8142f5;
  font-size: 0.9rem;
  font-weight: 600;
}

.right form button:hover {
  background-color: #8142f5;
  color: #fff;
}

.right form input:focus {
  border: 1.5px solid #8142f5;
}
.right form input:hover:not(:focus) {
  border: 1.8px solid rgb(164, 182, 233);
}
